<div class="form">{{form:addcomputer}}</div>
<div class="datebox">{{#date_selected}}
  {{lang.SELECTED_DATE}}: {{date_string}}
  <a href="{{script}}/computers?date=">{{lang.CLEAR}}</a>
{{^date_selected}}
  <form action="{{script}}/computers" method="get">
    {{lang.SELECT_DATE}}:
    <input type="text" name="date" id="select_date" size="10" value="">
    <input class="go" type="submit" value="{{lang.OK}}">
    <script>$(function() { $("#select_date").datepicker(); });</script>
  </form>
{{/date_selected}}</div>
<div class="vuorot">
<table class="lines">
{{#shift_users}}
  <tr class="{{status}}">
    <th>{{shift_name}}</th>
    <td align="right">{{seated_users}} /</td>
<!--    <td align="right">{{user_count}} /</td>-->
    <td>{{max_users}}</td>
    <td><div class="shift{{ord}}" style="width: 1em; height: 1em;"></div></td>
  </tr>
{{/shift_users}}
</table>
</div>
<a href="{{script}}/floorplan{{#shift}}/{{shift_name}}{{/shift}}">
{{#floorplan}}{{shift}}{{/floorplan}}
</a>
<table class="list" id="computers">
  <tr>
    <th>{{lang.COMPUTER}}</th>
<!--    <th>{{lang.SHIFTS}}</th> -->
    <th class="shift">{{lang.SHIFT}}</th>
    {{#lang.DAY_NAMES}}<th class="day">{{_}}</th>{{/lang.DAY_NAMES}}
    <th class="queue">{{lang.IN_QUEUE}}</th>
    <th>{{lang.COMMENTS}} </th>
    <th>{{lang.DELETE}}</th>
  </tr>
{{#computers}}
  <tr class="shift{{user.ord}}">
    <td>
      <a href="{{script}}/computer/{{cid}}">{{name}}</a></td>

    <td class="subtable" colspan="7">
      <table class="inside">
{{#shifts}}        <tr class="shift{{sid}}">
          <td class="shift">{{shift_name}}</td>
{{#presence}}          <td class="day {{$4}}">{{$3}}</td>
{{/presence}}
<!-- {{.}} -->
          <td class="queue">{{#queue}}{{queue.name}}, {{queue.start_date_string}}{{/queue}}</td>
        </tr>
{{/shifts}}
      </table>
<!-- {{shifts}} -->
    </td>

    <td>{{comments}}</td>
    <td class="delete">
      <a href="{{script}}/delete/computer/{{cid}}">{{lang.DELETE}}</a>
    </td>
  </tr>
{{/computers}}
</table>
<script>setupSort('computers', [0, 8]);</script>
