<div class="form">{{form:addcomputer}}</div>
<div class="vuorot">
<table class="lines">
{{#shift_users}}
  <tr class="{{status}}">
    <th>{{shift_name}}</th>
    <td align="right">{{seated_users}} /</td>
<!--    <td align="right">{{user_count}} /</td>-->
    <td>{{max_users}}</td>
    <td><div class="shift{{ord}}" style="width: 1em; height: 1em;"></div></td>
  </tr>
{{/shift_users}}
</table>
</div>
<a href="{{script}}/floorplan{{#shift}}/{{shift_name}}{{/shift}}">
{{#floorplan}}{{shift}}{{/floorplan}}
</a>
<table class="list">
  <tr>
    <th>{{lang.COMPUTER}}</th>
    <th>{{lang.SHIFT}}</th>
    {{#lang.DAY_NAMES}}<th>{{_}}</th>{{/lang.DAY_NAMES}}
    <th>{{lang.IN_QUEUE}}</th>
    <th>{{lang.COMMENTS}} </th>
    <th>{{lang.DELETE}}</th>
  </tr>
{{#computers}}
  <tr class="shift{{user.ord}}">
    <td rowspan="{{shift_count}}">
      <a href="{{script}}/computer/{{cid}}">{{name}}</a></td>
    <td>{{user.shift_name}}</td>
<!-- {{user.presence}} -->
{{#user.presence}}{{#$3}}
    <td class="{{user.status}}">{{user.name}}</td>{{^$3}}
    <td class="reserved">{{lang.RESERVED}}</td>{{/$3}}{{/user.presence}}
    <td>{{#user.queue}}{{user.queue.name}}, {{user.queue.start_date_string}}{{/user.queue}}</td>
    <td rowspan="{{shift_count}}">{{comments}}</td>
    <td rowspan="{{shift_count}}" class="delete">
      <a href="{{script}}/delete/computer/{{cid}}">{{lang.DELETE}}</a>
    </td>
  </tr>
{{#users}}
  <tr class="shift{{ord}}">
    <td>{{shift_name}}</td>
{{#presence}}{{#$3}}
    <td class="{{status}}">{{name}}</td>{{^$3}}
    <td class="reserved">{{lang.RESERVED}}</td>{{/$3}}{{/presence}}
    <td>{{#queue}}{{queue.name}}, {{queue.start_date_string}}{{/queue}}</td>
  </tr>{{/users}}
{{/computers}}
</table>
