<div class="form">
  <form id="settings" action="{{script}}/form" method="post" enctype="multipart/form-data">
    <p>{{lang.SETTINGS}}</p>
    <p>
      {{lang.LANGUAGE}}
      <select id="lang">
      {{#languages}}  <option value="id"{{#selected}} selected="True"{{/selected}}>{{name}}</option>
      {{/languages}}
      </select>
      <a href="https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior" target="_blank"><img src="info.svg" alt="{{lang.INFO}}"></a>
      <br>
      {{lang.TIME_FORMAT}}
      <input type="text" id="time_format" value="{{time_format}}"><br>
      {{lang.ALERT_END_YELLOW}}
      <input type="text" id="alert_days_end_yellow" value="{{alert_days_end_yellow}}"><br>
      {{lang.ALERT_END_RED}}
      <input type="text" id="alert_days_end_red" value="{{alert_days_end_red}}"><br>
    </p>
    <input type="submit" value="{{lang.SAVE}}">
  </form>
</div>

<table class="list">
  <tr><th>{{lang.SHIFT}}</th><th>{{lang.SHIFT_MAX_USERS}}</th>
    <th>{{lang.DESCRIPTION}}</th><th colspan="2">{{lang.MOVE}}</th>
    <th>{{lang.DELETE}}</th></tr>
{{#shifts}} <tr><!-- ord --><td>{{name}}</td><td>{{max_users}}</td>
    <td>{{#description}}{{description}}{{^description}}&nbsp;{{/description}}</td>
    <td><img src="move-up.svg" alt="{{lang.UP}}"></td>
    <td><img src="move-down.svg" alt="{{lang.DOWN}}"></td>
    <td class="delete"><a href="{{script}}/delete/shift/{{sid}}">{{lang.DELETE}}</a></td></tr>
{{/shifts}}
</table>

<table class="list">
  <tr><th>{{lang.NAME}}</th><th>{{lang.DELETE}}</th></tr>
{{#coaches}}  <tr><td>{{name}}</td>
    <td class="delete"><a href="{{script}}/delete/coach/{{oid}}">{{lang.DELETE}}</a></td></tr>
{{/coaches}}
</table>
