<!DOCTYPE html>
<html>
<head>
  <title>Tietokonelistaus</title>
  <link rel="stylesheet" href="/computers.css">
</head>
<body>
  <li id="menu">
{{#menu}}    <ul><a href="{{script}}/{{path}}">{{title}}</a></ul>
{{/menu}}  </li>
  <li id="submenu">
{{#submenu}}    <ul><a href="{{script}}/{{path}}">{{title}}</a></ul>
{{/submenu}}  </li>
<div id="panel">
  <div class="minilogin">
{{#session.fullname}}
    <p class="user">{{session.fullname}}<br>
    <a href="{{script}}/logout">{{lang.LOGOUT}}</a></p>
{{^session.fullname}}
    {{form:minilogin}}
{{/session.fullname}}
  </div>
</div>
{{content}}
</body>
</html>
