<!DOCTYPE html>
<html>
<head>
  <title>Tietokonelistaus</title>
  <link rel="stylesheet" href="/computers.css">
{{#scripts}}  <script type="text/javascript" src="{{filename}}"></script>
{{/scripts}}
</head>
<body>
<div class="header">
  <li id="menu">
{{#menu}}    <ul><a href="{{path}}">{{title}}</a></ul>
{{/menu}}  </li>
  <li id="submenu">
{{#submenu}}    <ul><a href="{{script}}/{{path}}">{{title}}</a></ul>
{{/submenu}}  </li>
  <li id="submenu">
{{#subsubmenu}}    <ul><a href="{{script}}/{{path}}">{{title}}</a></ul>
{{/subsubmenu}}  </li>
</div>
{{content}}
</body>
</html>
