<div class="form">{{form:adduser}}</div>
<table class="list" id="queue">
  <tr>
    <th>{{lang.ORDER_NUM}} </th><th>{{lang.USER}} </th>
    <th>{{lang.START_DATE}} </th><th>{{lang.TO_START}} </th>
    <th>{{lang.COACH}} </th><th>{{lang.COMMENTS}} </th>
    <th>{{lang.COMPUTER}} </th>
<!--    <th>{{lang.DELETE_USER}}</th>-->
  </tr>
{{#queue}}
  <tr class="{{#ended}}ended {{/ended}} {{#hilight}}hilight{{/hilight}}">
    <td>{{ord}}</td>
    <td><a href="{{script}}/user/{{pid}}">{{name}}</a></td>
{{#start_date}}    <td> <!--{{start_date}}-->{{start_date_string}}</td>
{{^start_date}}    <td>&nbsp;</td>
{{/start_date}}
{{#days_to_start}}    <td>{{days_to_start}}</td>
{{^days_to_start}}    <td>&nbsp;</td>
{{/days_to_start}}
{{#coach}}    <td>{{coach}}</td>
{{^coach}}    <td>&nbsp;</td>
{{/coach}}
{{#comments}}    <td>{{comments}}</td>
{{^comments}}    <td>&nbsp;</td>
{{/comments}}
{{#computer}}    <td>{{computer}}</td>
{{^computer}}    <td>&nbsp;</td>
{{/computer}}
<!--    <td class="delete"><a href="{{script}}/delete/user/{{pid}}">{{lang.DELETE}}</a></td>-->
  </tr>{{/queue}}
</table>
<script>setupSort('queue', [0, 1, 2, 3, 4, 5, 6]);</script>
