/*
 * Main layout style
 */
body { font-family: Sans-Serif; }
.header { width: 800pt; }
article { width: 800pt; }
a { text-decoration: none; font-weight: bold; color: #008; }
a:hover { text-decoration: underline; color: #66d; }
/* Menu */
li#menu { display: table; border: 1pt solid #888; background: #ddd;
  width: 100%; margin: 3pt; }
li#menu ul { display: table-cell; padding: 3pt 10pt; }
li#submenu { display: table; border: 1pt solid #888; background: #ddd;
  width: 100%; margin: 3pt; }
li#submenu ul { display: table-cell; padding: 3pt 10pt; }

div.select { border: solid 1pt #888; background: #eee;
  min-width: 200pt; max-width: 400pt; margin: 5pt; padding: 0pt; }
div.select p:first-child { background: #ddd; border: solid 0pt #444;
  padding: 3pt 7pt; margin: 0pt; text-align: left;
  border-width: 0pt 0pt 1pt 0pt; text-align: left; display: block; }
div.select p { padding: 3pt 7pt; }
/* Side panel with minilogin */
div#panel { float: right; }
div.minilogin { border: solid 1pt #888; background: #eee; min-width: 150pt; }
div.minilogin p { padding: 3pt 0pt; margin: 0pt; text-align: center; }
div.minilogin p.user { padding: 3pt 7pt; margin: 0pt; text-align: left; }
div.minilogin a { font-size: 12pt; }
div.minilogin input { width: 85%; }
div.minilogin input[type=submit] { border: 0; background: none;
  text-align: right; font-size: 12pt; }

/*
 * Forms and login panel
 */
div.login { border: solid 1pt #888; background: #eee; }
div.form { border: solid 1pt #888; background: #eee; text-align: right;
  min-width: 200pt; max-width: 400pt; margin: 5pt; padding: 0pt; }
div.form p { padding: 3pt 7pt; margin: 0pt; text-align: left; }
div.form p:first-child { background: #ddd; border: solid 0pt #444;
  border-width: 0pt 0pt 1pt 0pt; text-align: left; }
input { border: solid 1pt #000; border-width: 0pt 0pt 1pt 0pt;
  margin: 1pt 7pt; margin-right: 0pt; }
input[type=text] { width: 50%; }
input[type=password] { width: 50%; }
input[type=submit] { border: solid 1pt #888; border-width: 1pt;
  color: #000; background: #ddd; font-size: 18pt; margin: 3pt 7pt; }
p.checklist { display: table-row; }
p.checklist input { display: table-cell; margin: 3pt 7pt; }

/*
 * Computer list status box
 */
table.lines { border-collapse: collapse; margin: 3pt; margin: 5pt; }
table.lines th { border: solid 1pt #444; padding: 3pt 10pt;
  text-align: left; border-width: 0pt 0pt 1pt 0pt; }
table.lines tr.space { background: #eee; }
table.lines tr.full { background: #888; }
table.lines tr.overflow { background: #f00; }
table.lines td { border: solid 1pt #444; padding: 3pt 10pt;
  text-align: right; border-width: 0pt 0pt 1pt 0pt; }
table.lines td div { border: solid 1pt #444; }

/*
 * Folder elements
 */
div.infobox { border: solid 1pt #888; background: #eee;
  min-width: 200pt; max-width: 500pt; margin: 5pt; padding: 0pt; }
div.infobox h2:first-child { background: #ddd; border: solid 0pt #444;
  border-width: 0pt 0pt 1pt 0pt; padding: 5pt 10pt; margin: 0pt; }
div.infobox p { padding: 3pt 10pt; margin: 0pt; }
div.infobox p.hilight { background: #fcc; }

/*
 * Computer and user list tables 
 */
table.list td.delete a, a.delete { color: #a00; }
table.list td.delete a:hover, a.delete:hover { background: #f88; }
table.list { border-collapse: collapse; margin: 3pt; margin: 5pt; }
table.list th { border: solid 1pt #444; padding: 3pt 10pt; background: #ccc; }
table.list td { border: solid 1pt #444; padding: 3pt 10pt; background: #eee;
  vertical-align: top; }
table.list tr.shift1 td { border-top: solid 2pt #222; }
table.list tr.ended td { background: #f88; }
table.list tr.yellow td { background: #ffb; }
table.list tr.red td { background: #fcc; }
table.list a { text-decoration: none; font-weight: bold; color: #002; }
table.list a:hover { color: #00a; }
/* User list status colors */
table.list td.missing { background: #fdd; }
table.list td.present { background: #dfd; }
/* Computer list user status colors */
table.list td.free     { background: #4e4; color: #020; }
table.list td.full     { background: #444; color: #222; }
table.list td.reserved { background: #777; color: #444; }
table.list td.active   { background: #d66; color: #222; }
/* Per shift seat status colors */
tr.shift1 td.active,div.shift1 { background: #33a; color: #aac; }
tr.shift2 td.active,div.shift2 { background: #3a3; }
tr.shift3 td.active,div.shift3 { background: #a33; }
tr.shift1 td.reserved { background: #667; }
tr.shift2 td.reserved { background: #676; }
tr.shift3 td.reserved { background: #766; }
tr.shift1 td.free { background: #4e6; }
tr.shift2 td.free { background: #4e4; }
tr.shift3 td.free { background: #6e4; }
tr.shift1 td.full { background: #445; }
tr.shift2 td.full { background: #454; }
tr.shift3 td.full { background: #544; }

/*
 * User timetable
 */
table.userinfo { border-collapse: collapse; margin: 3pt; }
table.userinfo td { border: solid 1pt #444; padding: 3pt 10pt; }
table.userinfo th { border: solid 1pt #444; padding: 3pt 10pt; }
table.userinfo td.reserved { background: #aaa; color: #666; }
table.userinfo td.active   { background: #6d6; color: #222; }

/*
 * Floorplan SVG image
 */
svg.area { width: 200pt; border: solid 1pt #aaa; }
circle { fill: none; }
text.h1 { font-size: 18pt; font-weight: bold; }
.selected circle { stroke: #a00; stroke-width: 2pt; }
.computer { font-family: Sans-Serif; font-size: 8pt; cursor: move; }
.computer text { text-anchor: middle; }
rect { fill: #44a; }
.vacant rect { fill: #0a0; }
.partly rect { fill: #f80; }
.reserved rect { fill: #a00; }
.computer g.info { display: none; }
.computer:hover g.info { display: block; }
.computer g.info rect { fill: #fff; stroke: #888; stroke-width: 1;
  width: 3cm; height: 2em; }
.computer g.info text { fill: #000; text-anchor: start; }
.computer g.info text tspan { display: block; clear: both; }

