<div class="form">{{form:adduser}}</div>
<table class="list">
  <tr>
    <th>{{lang.USER}}</th>
    <th>{{lang.TO_END}}</th>
    <th>{{lang.TO_YEAR}}</th>
    <th>{{lang.SHIFT}}</th>
    <th>{{lang.DAYS}}</th>
    <th>{{lang.COMPUTER}}</th>
<!--    <th>{{lang.DELETE_USER}}</th>-->
  </tr>
{{#users}}
  <tr{{#hilight}} class="{{.}}"{{/hilight}}>
    <td><a href="{{script}}/user/{{pid}}">{{name}}</a></td>
    <td>{{days_to_end}}</td>
    <td>{{days_to_year}}</td>
    <td>{{shift_name}}</td>
    <td>{{day_names}}</td>
{{#computer}}    <td class="present">
      <a href="{{script}}/computer/{{computer_id}}">{{computer}}</a></td>
{{^computer}}    <td class="missing">
      <a href="{{script}}/assign/{{pid}}">{{lang.NO_SEAT}}</a></td>
{{/computer}}
<!--    <td class="delete"><a href="{{script}}/delete/user/{{pid}}">{{lang.DELETE}}</a></td>-->
  </tr>{{/users}}
</table>
